@font-face {
   font-family:'GothamBook';
   src: url('../fuente/GothamBook.ttf') format('truetype');
}

body {
  /*background: url('../images/bg-body.png');*/
  font-family:'GothamBook';
  padding: 25px 0;
}

header .logo img{
  width: 50%;
}

content {
position: relative;
margin-left: 10px;
margin-right: 10px;
}

content2 {
position: relative;
margin-left: 10px;
margin-right: 10px;
}

.titulo {
  margin-top: 50px;
  margin-bottom: 30px;
}

.titulo img {
position: absolute;
margin-left: 10px;
}

.titulo h1 {
position absolute;
margin-left: 60px;
padding-top: 13px;
}

div li h2 {
  padding-top: 20px;
}

h1 {
  color: #EABB69;
  font-size: 18px;
  letter-spacing: 1px;
}

h2 {
  color: #575756;
  font-size: 14px;
  letter-spacing: 0.5px;
}

a {
  /*text-decoration: none;*/
}
a:hover {
  /*text-decoration: underline;*/
}

content {
  margin: 0px auto;
}

header {
  margin-bottom: 20px;

}
header .logo {
  margin: 0px auto;
  width: 60%;
}

header .logo img {
  width: 100%;
}

div .candadito {
  width: 5px;
}

header .busqueda {

  margin: 20px 70px;

}
header .busqueda img {
  margin-right: 3px;
  padding-right: 2px;
  width: 10%;
}

header .busqueda label {
  letter-spacing: 1px;
  font-size: 13px;
  color: #EABB69;
  display: none;
}


header .inicio {
  margin: 20px auto;
  display:none;
}

header .inicio a {
  font-size: 80%;
  margin: 20px 75px;
  color:#73757a;
  letter-spacing: 1px;
  text-decoration: none;
}

header .inicio a:hover {
  color: #EABB69;
  text-decoration: none;

}

header .inicio img {
width: 7%;
padding-right: 10px;
}


header .busqueda input {
width: 60%;
color: #2E3133;
}

header .busqueda input:hover {
background-color: #C6C6C5;
}
header .candadito img{
  display: block;
  height: 50px;
  width: 50px;
  position: absolute;
  right: 40px;
  top: 170px;
}



nav {
 font-family:'GothamBook';

}

nav ul {


}

ul div .pregunta{
  padding-top: 20px;
  padding-bottom: 20px;
  border: 0.5px #3F3F3F solid;
}

nav ul li a {
  font-family:GothamBook;
  letter-spacing: 1px;
  text-align: center;
  color: #636466;
  text-decoration: none;
  padding: 15px 0;
  display: block;
  margin-bottom: 4px;
}

nav ul li a:hover {
  color: #EABB69;
  text-decoration: none;
}

.active {
width:100%;
}

.banner  img {
  display: none;
}
.banner2 img {
  width: 95%;
  margin-top: 20px;
  margin-bottom: 20px;
}


footer {
  background: white;
  margin-top: 40px;
  padding: 20px 0;
}


footer .social {
  display:inline-block;
  margin: 20px 1px;
}
footer .social li {
  display: inline-block;
  margin-left: 20px;
}
footer .social li img {
  width: 120%;
}
footer .social li:first-child {
}
footer .info img {
  width: 12%;
}
footer.info img{
width: 100%;
}
footer .info img {
  display:block;
  margin: 45px 138px;
}

footer .social  ul li{
 padding-left: 30px;
}

*, ::after, ::before {
 box-sizing: content-box;
}

.container {
  width: 90%;
  border: 1px solid #E1E1E1;
  border-radius: 2px;
  padding: 15px;
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-top: 35px;
  margin-bottom: 50px;
  }
.container label {
  font-size: 14px;
  letter-spacing: 2px;
  text-align: left;

}

.container input {
  width:auto;
  border-radius: 0px;
  height: 15px;
  margin-top: 10px;
}  
.izq {
display: inline-flex;
justify-content: left;

}
.container input:HOVER, input :FOCUS {
  border-color: #EABB69;
}
.container a {
  text-decoration: none;
  color: #3F3F3F;
  font-size: 10px;
}
.container .nuevacuenta {
  border: grey solid 1px;
  height: 30px;
  margin-bottom: 10px;
  padding-top: 10px;
  font-family:'GothamBook';
  font-size: 10px
}
.container .nuevacuenta:HOVER {
  background-color: #EABB69;


}
div .aceptar {
  width: 90px;
}
.ingreso {
margin-top: 30px;
border-bottom: 1px solid #E1E1E1;
margin-bottom: 60px;

}
h3 { 
  font-size: 14px; 

}
h6 { 
  font-size: 10px; 

}
.container button {
  display: inline-block;
  background-color: #EABB69;
  border: none;
  font-size: 14px;
}
.container button:hover {
background-color: #C6C6C5;

}


